<div>
    <h1>{{title}}</h1>
</div>

<div>
    <span>
    <button class="btn" [actorBtn]="btnActionOb" (stateChange)="btnState1 = $event">
      Using Observable
    </button>
    <code>
      {{btnState1 | json}}
    </code>
  </span>

    <span>
    <button class="btn" [actorBtn]="btnActionPm" (stateChange)="btnState2 = $event">
      <span>
        Using Promise
        <img src="/assets/loader.gif" *ngIf="btnState2?.clicked">
      </span>
    </button>
    <code>
    {{btnState2 | json}}
  </code>
    </span>

    <span>
    <button class="btn" [actorBtn]="btnActionBl" (stateChange)="btnState3 = $event">Using Boolean</button>
    <code>
    {{btnState3 | json}}
  </code>
  </span>

    <span>
    <button class="btn" [actorBtn]="btnActionVoid" (stateChange)="btnState4 = $event">With No Return</button>
    <code>
    {{btnState4 | json}}
  </code>
  </span>


</div>